In [2]:
import os

import numpy as np
import pandas as pd

In [3]:
sampledata= pd.DataFrame({
        'audition_number': np.arange(1, 20),
        'name': ['name'+str(i) for i in range(1, 20)],
        'represent': ['represent'+str(i) for i in range(1, 20)]
    })

In [4]:
sampledata.head()

   audition_number   name   represent
0                1  name1  represent1
1                2  name2  represent2
2                3  name3  represent3
3                4  name4  represent4
4                5  name5  represent5

In [7]:
# change format from DataFrame to list of ['audition_number', ' ', 'name', '/', 'represent']
# add a new column ' ' and '/'
sampledata[' '] = ' '
sampledata['/'] = '/'
sampledata[['audition_number', ' ', 'name', '/', 'represent']].head()

   audition_number      name  /   represent
0                1     name1  /  represent1
1                2     name2  /  represent2
2                3     name3  /  represent3
3                4     name4  /  represent4
4                5     name5  /  represent5

In [10]:
sampledata[['audition_number', ' ', 'name', '/', 'represent']].values

array([[1, ' ', 'name1', '/', 'represent1'],
       [2, ' ', 'name2', '/', 'represent2'],
       [3, ' ', 'name3', '/', 'represent3'],
       [4, ' ', 'name4', '/', 'represent4'],
       [5, ' ', 'name5', '/', 'represent5'],
       [6, ' ', 'name6', '/', 'represent6'],
       [7, ' ', 'name7', '/', 'represent7'],
       [8, ' ', 'name8', '/', 'represent8'],
       [9, ' ', 'name9', '/', 'represent9'],
       [10, ' ', 'name10', '/', 'represent10'],
       [11, ' ', 'name11', '/', 'represent11'],
       [12, ' ', 'name12', '/', 'represent12'],
       [13, ' ', 'name13', '/', 'represent13'],
       [14, ' ', 'name14', '/', 'represent14'],
       [15, ' ', 'name15', '/', 'represent15'],
       [16, ' ', 'name16', '/', 'represent16'],
       [17, ' ', 'name17', '/', 'represent17'],
       [18, ' ', 'name18', '/', 'represent18'],
       [19, ' ', 'name19', '/', 'represent19']], dtype=object)